:root{
    --Typo1:"Red Hat Display";
    --Typo2:"Inter";
    /* primitive */
         /* color */
             /* Branding Badara, Madieume */ 
                /* primary Badara*/
                --primary-50:#EEF2FF;
                --primary-100:#E0E7FF;
                --primary-200:#C7D2FE;
                --primary-300:#A5B4FC;
                --primary-400:#818CF8;
                --primary-500:#6366F1;
                --primary-600:#4F46E5;
                --primary-700:#4338CA;
                --primary-800:#3730A3;
                --primary-900:#312E81;
                --primary-950:#1E1B4B;

                /* secondary Madieume*/
                --secondary-50:#FEFCE8;

            /* Neutral Mamadou D. Diallo */
            --NP-0: #000000;
            --NP-4: #0E0E11;
            --NP-5: #101114;
            --NP-6: #131316;
            --NP-10: #1B1B1F;
            --NP-12: #1F1F23;
            --NP-17: #2A2A2D;
            --NP-20: #303034;
            --NP-22: #343438;
            --NP-24: #39393C;
            --NP-30: #47464A;
            --NP-35: #525256;
            --NP-50: #77767A;
            --NP-60: #919094;
            --NP-70: #ACAAAF;
            --NP-80: #C8C6CA;
            --NP-87: #DBD9DE;
            --NP-90: #E4E1E6;
            --NP-94: #F0EDF1;
            --NP-96: #F5F3F7;
            --NP-100: #FFFFFF;
            /* Informative Djamilatou ,Awa*/

                /* information Awa */

                /* Error  Awa*/

                /* Warning Djamilatou */

                /* Success Djamilatou*/

        /* Number Issa */
        

        /* Typography Mamadou D. Diallo */
        --typo-1: 'RedHatDisplay';
        --typo-2: 'Inter';

    /* token */
        /* Surface Madieume*/
        
        /* container Issa*/
            /* color */

            /* Radius */

            /* Sizing */

       /* texte Badara */
            /* color */ 
            --Text_primary:#FFFFFF;
            --Text_secondary:#FFFFFF;
            --Text_placeholder:#FFFFFF;
            --Text_primary_oncolor:#FFFFFF;
            --Text_secondary_oncolor:#FFFFFF;
            --Text_helper:#FFFFFF;
            --Text_error:#FFFFFF;
            --Text_success:#FFFFFF;
            --Text_warning:#FFFFFF;
            --Text_informative:#FFFFFF;
            --Text_inverse:#FFFFFF;
            --Text_disabled:#FFFFFF;
            --Text_disabled_oncolor:#FFFFFF;
 

            /* Font_size */ 
            --Display-1:128;
            --Display-2:112;
            --Display-3:100;
            --Display-4:92;
            --Headline-1:64;
            --Headline-2:48;
            --Headline-3:40;
            --Headline-4:36;
            --Subtitle-1:32;
            --Subtitle-2:24;
            --subtitle-3:20;
            --Topline-1:20;
            --Topline-2:16;
            --Button:16;
            --Input:16;
            --Caption:12;
            --Label:12;
            --Body-1:16;
            --Body-2:12;

            /* Font_family */
            --Display:var(var(--Typo1));
            --Headline:var(var(--Typo1));
            --subtitle:var(var(--Typo1));
            --Topline:var(var(--Typo2));
            --Button:var(var(--Typo2));
            --Input:var(var(--Typo2));
            --Caption:var(var(--Typo2));
            --Label:var(var(--Typo2));
            --Body:var(var(--Typo2));

            /* weight */
            --Thin:100;
            --UltraLight:200;
            --Light:300;
            --Regular:400;
            --Medium:500;
            --SemiBold:600;
            --Bold:700;
            --SemiBlack:800;
            --Black:900;

            /* Letter_spacing */ 
            --tracking-1:0;
            --tracking-2:0;
            --tracking-3:0;
            --tracking-4:0;
            --tracking-5:0;
            --tracking-6:0;
            --tracking-7:0;
            --tracking-8:0;
            --tracking-9:0;
            --tracking-10:0;
            --tracking-11:0;
            --tracking-12:0;

            /* Line_height */ 
            --Leading-1:0;


        /* Icons Djamilatou*/  

        /* button Amadou*/
    --button-primary:var(--primary-100);
    --button-primary-hover:var(--primary-200);

        /* Border Amadou*/

        /* spacing Awa */

            /* Padding */ 

            /* Margine */ 
     
  
}

.button-primary{
    background-color:var(--button-primary);
    color: var(--text-primary-onColor);
}