:root{
    /* primitive */
         /* color */
             /* Branding Badara, Madieume */ 
                /* primary Badara*/
                --p-50:#EEF2FF;
                --p-100:#E0E7FF;
                --p-200:#C7D2FE;
                --p-300:#A5B4FC;
                --p-400:#818CF8;
                --p-500:#6366F1;
                --p-600:#4F46E5;
                --p-700:#4338CA;
                --p-800:#3730A3;
                --p-900:#312E81;
                --p-950:#1E1B4B;

                /* secondary Madieume*/
                --S-50:#422006;
                --S-100:#713F12;
                --S-200:#854D0E;
                --S-300:#A16207;
                --S-400:#CA8A04;
                --S-500:#EAB308;
                --S-600:#FACC15;
                --S-700:#FDE047;
                --S-800:#FEF08A;
                --S-900:#FEF9C3;
                --S-950:#FEFCE8;

            /* Neutral Mamadou D. Diallo */
            --NP-0: #000000;
            --NP-40: #0E0E11;
            --NP-50: #101114;
            --NP-60: #131316;
            --NP-100: #1B1B1F;
            --NP-120: #1F1F23;
            --NP-170: #2A2A2D;
            --NP-200: #303034;
            --NP-220: #343438;
            --NP-240: #39393C;
            --NP-300: #47464A;
            --NP-350: #525256;
            --NP-500: #77767A;
            --NP-600: #919094;
            --NP-700: #ACAAAF;
            --NP-800: #C8C6CA;
            --NP-870: #DBD9DE;
            --NP-900: #E4E1E6;
            --NP-940: #F0EDF1;
            --NP-960: #F5F3F7;
            --NP-1000: #FFFFFF;
            /* Informative Djamilatou ,Awa*/

                /* information Awa */
                --INF-50: #172554;
                --INF-100: #1E3A8A;
                --INF-200: #1E40AF;
                --INF-300: #1D4ED8;
                --INF-400: #2563EB;
                --INF-500: #3B82F6;
                --INF-600: #60A5FA;
                --INF-700: #93C5FD;
                --INF-800: #BFDBFE;
                --INF-900: #DBEAFE;
                --INF-950: #EFF6FF;
                /* Error  Awa*/
                --ER-50: #450A0A;
                --ER-100: #7F1D1D;
                --ER-200: #991B1B;
                --ER-300: #B91C1C;
                --ER-400: #DC2626;
                --ER-500: #EF4444;
                --ER-600: #F87171;
                --ER-700: #FCA5A5;
                --ER-800: #FECACA;
                --ER-900: #FEE2E2;
                --ER-950: #FEF2F2;

                /* Warning Djamilatou */
                --WA-50:#431407;
                --WA-100:#7C2D12;
                --WA-200:#9A3412;
                --WA-300:#C2410C;
                --WA-400:#EA580C;
                --WA-500:#F97316;
                --WA-600:#FB923C;
                --WA-700:#FDBA74;
                --WA-800:#FED7AA;
                --WA-900:#FFEDD5;
                --WA-950:#FFF7ED;
                /* Success Djamilatou*/
                --SU-50:#022C22;
                --SU-100:#14532D;
                --SU-200:#166534;
                --SU-300:#15803D;
                --SU-400:#16A34A;
                --SU-500:#22C55E;
                --SU-600:#4ADE80;
                --SU-700:#86EFAC;
                --SU-800:#BBF7D0;
                --SU-900:#DCFCE7;
                --SU-950:#F0FDF4;

        /* Number Issa */
            --num-4: 4px;
            --num-8: 8px;
            --num-12: 12px;
            --num-16: 16px;
            --num-20: 20px;
            --num-24: 24px;
            --num-28: 28px;
            --num-32: 32px;
            --num-36: 36px;
            --num-40: 40px;
            --num-48: 48px;
            --num-56: 56px;
            --num-64: 64px;
            --num-72: 72px;
            --num-80: 80px;
            --num-92: 92px;
            --num-100: 100px;
            --num-112: 112px;
            --num-120: 120px;
            --num-128: 128px;
        

        /* Typography Mamadou D. Diallo */
        --typo-1: 'RedHatDisplay';
        --typo-2: 'Inter';

    /* token */
        /* Surface Madieume*/
        --Surface_main:#F5F3F7;
        --Surface_Bright:#FFFFFF;
        /* container Issa*/
            /* color */
            --Container_lowest:var(--NP-1000);
            --Container_low:var(--NP-960);
            --Container_low_hover:var(--NP-900);
            --Container_main:var(--NP-940);
            --Container_main_hover:var(--NP-870);
            --Container_high:var(--NP-900);
            --Container_high_hover:var(--NP-800);
            --Container_highest:var(--NP-800);
            --Container_highest_hover:var(--NP-700);
            --Container_inverse:var(--NP-40);
            --Container_inverse_hover:var(--NP-60);
            /* Radius */
    
            /* Sizing */

       /* texte Badara */
            /* color */ 
            --Text_primary:var(--NP-60);
            --Text_secondary:var(--NP-350);
            --Text_placeholder:var(--NP-600);
            --Text_primary_oncolor:var(--NP-1000);
            --Text_secondary_oncolor:var(--NP-700);
            --Text_helper:var(--NP-350);
            --Text_error:var(--ER-400);
            --Text_success:var(--SU-400);
            --Text_warning:var(--WA-400);
            --Text_informative:var(--INF-400);
            --Text_inverse:var(--NP-0);
            --Text_disabled:var(--NP-700);
            --Text_disabled_oncolor:var(--P-400);
            --text-onspecial-1:var(--P-50);
            --text-onspecial-2:var(--P-800);
 

            /* Font_size */ 
            --Display-1:128;
            --Display-2:112;
            --Display-3:100;
            --Display-4:92;
            --Headline-1:64;
            --Headline-2:48;
            --Headline-3:40;
            --Headline-4:36;
            --Subtitle-1:32;
            --Subtitle-2:24;
            --subtitle-3:20;
            --Topline-1:20;
            --Topline-2:16;
            --Button:16;
            --Input:16;
            --Caption:12;
            --Label:12;
            --Body-1:16;
            --Body-2:12;

            /* Font_family */
            --Display:var(var(--Typo1));
            --Headline:var(var(--Typo1));
            --subtitle:var(var(--Typo1));
            --Topline:var(var(--Typo2));
            --Button:var(var(--Typo2));
            --Input:var(var(--Typo2));
            --Caption:var(var(--Typo2));
            --Label:var(var(--Typo2));
            --Body:var(var(--Typo2));

            /* weight */
            --Thin:100;
            --UltraLight:200;
            --Light:300;
            --Regular:400;
            --Medium:500;
            --SemiBold:600;
            --Bold:700;
            --SemiBlack:800;
            --Black:900;

            /* Letter_spacing */ 
            --tracking-1:0;
            --tracking-2:0;
            --tracking-3:0;
            --tracking-4:0;
            --tracking-5:0;
            --tracking-6:0;
            --tracking-7:0;
            --tracking-8:0;
            --tracking-9:0;
            --tracking-10:0;
            --tracking-11:0;
            --tracking-12:0;

            /* Line_height */ 
            --Leading-1:0;


        /* Icons Djamilatou*/  
        --Icon-primary:var(--NP-60);
        --Icon-secondary:var(--NP-300);
        --Icon-encolor:var(--NP-1000);
        --Icon-inverse:var(--NP-1000);
        --Icon-disabled:var(--NP-700);
        --Icon-disabled-oncolor:var(--p-400);
        --Icon-success:var(--SU-400);
        --Icon-error:var(--ER-400);
        --Icon-warning:var(--WA-400);
        --Icon-infomative:var(--INF-400);
        --Icon-onspecial-1:var(--p-200);
        --Icon-onspecial-2:var(--P-800);
        /* button Amadou*/
        --button-primary:var(--primary-100);
        --button-primary-hover:var(--primary-200);
        --button-secondary:var(--NP-700);
        --button-secondary-hover:var(--NP-600);
        --button-tertiary:var(--NP-0);
        --button-tertiary-hover:var(--NP-100);
        --button-disabled:var(--NP-800);
        --button-link:var(--P-300);
        --button-link-hover:var(--P-500);
    
            /* Border Amadou*/
            --border-1-light:var(--NP-500);
            --border-1-dark:var(--NP-600);
            --border-2-light:var(--NP-800);
            --border-2-dark:var(--NP-300);

        /* spacing Awa */

           /* Padding */
    --pad-1: var(--num-4);
    --pad-2: var(--num-8);
    --pad-3: var(--num-12);
    --pad-4: var(--num-16);
    --pad-5: var(--num-20);
    --pad-6: var(--num-24);
    --pad-7: var(--num-28);
    --pad-8: var(--num-32);
    --pad-9: var(--num-36);
    --pad-10: var(--num-40);
    --pad-11: var(--num-48);
    --pad-12: var(--num-56);
    /* Margine */
    --mar-1: var(--num-4);
    --mar-2: var(--num-8);
    --mar-3: var(--num-12);
    --mar-4: var(--num-16);
    --mar-5: var(--num-20);
    --mar-6: var(--num-24);
    --mar-7: var(--num-28);
    --mar-8: var(--num-32);
    --mar-9: var(--num-36);
    --mar-10: var(--num-40);
    --mar-11: var(--num-48);
    --mar-12: var(--num-56);
     
  
}

.button-primary{
    background-color:var(--button-primary);
    color: var(--text-primary-onColor);
}